
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaurentLayout.cshtml";
}

<h3>Welcome</h3>

<div class="jumbotron">
    <h3>@Session["user"]</h3>
    <p class="lead"> you can send request to donate extra food</p>
</div>
