@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_EmployeLayout.cshtml";
}


<div class="jumbotron">
    Welcome<h3>@Session["user"]</h3>
    <p class="lead">You can manage request.</p>
</div>

